:root {
  /* Page Setting Variables */
  --max-width-page: 2560px;
  --max-width-container-fluid: 1920px;
  --max-width-container: calc(1236px + calc(var(--gap) * 2));

  --gap: 30px;
  --pd-left-right: 20px;

  /* Color Variables */
  --primary-cl: #b88e2f;
  --primary-cl-hover: #756337;
  --secondary-cl: #ffeacf;
  --tertiary-cl: #f3e9dc;

  --white-page-cl: #f9f6ee;
  --black-cl: #0b1215;

  --gray-dark-cl: #898989;
  --gray-light-cl: #9f9f9f;
  --product-hover: #3a3a3a;

  --red-cl: #e97171;
  --green-cl: #2ec1ac;
  --purple-cl: #816dfa;

  /* Font-size, Line-height, Letter-spacing Variables: */
  --fs-h1: 5.6rem;
  --lh-h1: 6.5rem;
  --ls-h1: 2px;

  --fs-h2: 4rem;
  --lh-h2: 4.8rem;
  --ls-h2: 0.25px;

  --fs-h3: 2.4rem;
  --lh-h3: 2.8rem;
  --ls-h3: 0.1px;

  --fs-text-button: 1.6rem;
  --lh-text-button: 2.4rem;
  --ls-text-button: 0.2px;

  --fs-body: 1.6rem;
  --lh-body: 2.4rem;
  --ls-body: 0.2px;

  /* Fonts: */
  --font-body: ppr;
  --font-body-light: ppl;
  --font-body-medium: ppm;
  --font-body-semibold: ppsb;
  --font-body-bold: ppb;

  /* General Variables */
  --height-header: 100px;
  --height-footer: 505px;
  --height-button: 48px;
  --height-button-medium: 64px;
  --height-button-large: 74px;
  --pd-section: 60px;

  /* Timing Transition Variables: */
  --duration: 0.4s;
  --cubic: cubic-bezier(0.59, 0.29, 0.15, 0.93);
}
