html {
  font-size: 62.5%;

  scroll-behavior: smooth;

  /* CUSTOM SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray-light-cl);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-cl);
    border-radius: 40px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark-cl);
  }

  /* Custom background-color text selection */
  ::-moz-selection {
    color: var(--white-page-cl);
    background: var(--primary-cl);
  }
  ::selection {
    color: var(--white-page-cl);
    background: var(--primary-cl);
  }
}

body {
  background-color: var(--white-page-cl);
  width: 100%;
  max-width: var(--max-width-page);
  margin: auto;

  color: var(--black-cl);
  font-family: var(--font-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
}

.container-fluid {
  width: 100%;
  max-width: var(--max-width-container-fluid);
  padding-right: var(--gap);
  padding-left: var(--gap);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.container {
  width: 100%;
  max-width: var(--max-width-container);
  padding-right: var(--gap);
  padding-left: var(--gap);
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

/* .main {
  position: relative;
} */

section .ptb {
  padding: var(--pd-section) 0;
}
section .pt {
  padding: var(--pd-section);
}
section .pb {
  padding: var(--pd-section);
}
