html {
  font-size: 62.5%;

  scroll-behavior: smooth;

  /* CUSTOM SCROLLBAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--gray-light-cl);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-cl);
    border-radius: 40px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray-dark-cl);
  }

  /* Custom background-color text selection */
  ::-moz-selection {
    color: var(--white-page-cl);
    background: var(--primary-cl);
  }
  ::selection {
    color: var(--white-page-cl);
    background: var(--primary-cl);
  }
}

body {
  background-color: var(--white-page-cl);
  width: 100%;
  max-width: var(--max-width-page);
  margin: auto;

  font-family: var(--font-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body);
  color: var(--black-cl);
}

.container {
  max-width: var(--max-width-container);
  margin: 0 auto;
}
