img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  object-fit: contain;
}

img .--center {
  margin: 0 auto;
  display: block;
}

.--hidden {
  display: none;
}

/* Variable */

/* Progress Bar */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--bone-white-cl);
}

.progress-bar {
  height: 100%;
  background: var(--primary-cl);
  width: 0%;

  /* Scroll-driven animation */
  animation: grow linear;
  animation-timeline: scroll();
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Heading */

/* Textbox */

/* Button */
.btn {
  height: 64px;
  padding: 0 32px;
  background-color: var(--primary-cl);
  color: var(--white-cl);
}
