.header {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  max-width: var(--max-width-page);
  height: var(--height-header);
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header .header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Header Menu */
.header .header__menu .header__menu-list {
  display: flex;
}

.header .header__menu .header__menu-list li a {
  padding: 8px var(--pd-left-right);
  text-transform: capitalize;
  font-size: 2rem;
  color: var(--black-cl);

  text-wrap: nowrap;

  transition: var(--duration);
  -webkit-transition: var(--duration);
  -moz-transition: var(--duration);
  -ms-transition: var(--duration);
  -o-transition: var(--duration);
}

/* Header Icons */
.header .header__icons {
  display: flex;
  gap: 45px;
}
