.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Item */
.header .header__icons {
  display: flex;
}

/* Header Icons */
.header .header__icons {
  display: flex;
}
