.header {
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Menu */
.header .header__menu .header__menu-list {
  display: flex;
}

/* Header Icons */
.header .header__icons {
  display: flex;
}

.header .header__icons img:not(:first-child) {
  margin-left: 45px;
}
